"*":
  "atom-beautify":
    general:
      _analyticsUserId: "dafb1454-5e64-40e9-8282-d820b82c3edc"
  "atom-ternjs":
    useSnippets: true
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "*.pyc"
      "*.o"
      "*.lo"
    ]
    projectHome: "~/Projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Monaco"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "fa75b83a-49d3-9d59-068d-89e0800db984"
  "file-types":
    "html\\.jinja": "text.html.jinja"
    jsx: "source.js"
    pbs: "source.shell"
    sls: "source.yaml"
  fonts:
    fontFamily: "Cousine"
  linter:
    lintOnEditorFocus: false
    lintOnSave: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-pep8":
    maxLineLength: 120
  "markdown-preview":
    openPreviewInSplitPane: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
